/* default properties */
*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: "Inter", sans-serif;
    background:#ECF0F1;
}

h1,h2,h3,h4,h5,h6{
    margin-top:0;
}

ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
}

/* helper classes */
.left{
    float:left;
}
.right{
    float:right;
}

.row:after{
    content:"";
    display: block;
    clear: both;
}

.w-100{
    width: 100%;
}

#container{
    width: 1020px;
    margin: 10px auto  0 auto;
}
/* header */
header{
    background-color: #029270;
}

.logo{
    width: 14%;
}
.logo a{
    display: block;
    padding: 8px 20px;
}
nav>ul>li>a{
    color: white;
    font-size: 14px;
    display: block;
    padding: 18px 8px;
}
nav>ul>li{
    display: inline-block;
    position: relative;
}
nav ul li a i{
    font-size: 12px;
    margin-left: 5px;
}
nav>ul>li:hover>a{
    background-color: #038062 ;
}

nav ul li .dropdown{
    display: none;
    position: absolute;
    width: 190px;
    background: whitesmoke;
    top: 100%;
    left: 0;
}

.dropdown ul li{
    display: block;
}
nav ul li:hover .dropdown{
    display: block;
}

.dropdown ul li a{
    color: black;
    display: block;
    padding: 16px 8px;
    font-size: 14px;

}

nav>ul>li:last-child>a{
    padding: 8px 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

.sidebar1 {
    width: 20%;
    margin-top: 5px;
}

.sidebar1 h2,.sidebar2 h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #029270;
}

.sidebar1 ul li a{
    font-size: 14px;
    color: black;
}

.sidebar1 .latest-news{
    padding: 16px 10px;
    background-color: white;   
}

.sidebar1 small{
    display: block;
    color: #666;
    font-size: 12px;
}
.sidebar1 ul li{
    border-bottom: 1px solid #ecebeb;
    padding: 10px 0;

}
#sec-header{
    background-color: #4A4A4A;

}

#sec-header button{
    background-color: #4A4A4A ;
    color: white;
    border: none;
    display: block;
    padding: 12px 8px;
}

.sec-nav ul li  a{
    color: white;
    font-size: 13px;
    display: block;
    padding: 14px 8px;
}
.sec-nav ul li{
    display: inline-block;
}

#main{
    background-color: #fff;
    border: 5px solid #ECF0F1;
    padding: 18px;
    width: 45%;
}
#main img{
    border-radius: 5px;
}
.sidebar2 {
    width: 35%;
}

.sidebar2 .featured{
    padding: 16px 14px;
    background-color: #fff;
    margin-top: 5px;

}
.featured .card{
    border: 1px solid #ecebeb;
    border-radius: 10px;
    overflow: hidden;
}

.featured .card h4{
    margin-bottom: 0;
    color: black;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 12px;
}

.card-img{
    position: relative;
}

.card-img .play{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;

}

.time{
    position: absolute;
    background-color: black;
    color: white;
    font-size: 18px;
    bottom: 10px;
    right: 10px;
    padding: 8px;
    border-radius: 10px;
}